assest/
bin/
obj/
AirPublish/blcc.air
AirPublish/Air_publisher.html
AirPublish/temp_xml_plist_file.xml
*.tmp
AirPublish/恢复_Air_publisher-app.xml
AirPublish/恢复_Air_publisher.fla
AirPublish/恢复_Air_publisher.swf
